@mixin container {
  min-width: $w_container_min;
  max-width: $w_container_max;
  margin: 0 auto;
  padding-left: $offset_mobile;
  padding-right: $offset_mobile;

  @media #{$tablet} {
    padding-left: $offset_tablet;
    padding-right: $offset_tablet;
  }

  @media #{$desktop} {
    padding-left: $offset_desktop;
    padding-right: $offset_desktop;
  }
}

@mixin text-hide {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}

@mixin list-clear {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin btn-clear {
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
}

@mixin text-no-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}
