// media query diapasons
$mobile: 'only screen and (max-width: 699px)';
$tablet: 'only screen and (min-width: 700px) and (max-width: 1019px)';
$desktop: 'only screen and (min-width: 1020px)';

$retina2x: '(min-resolution: 1.5dppx)';

// mobile + tablet
$portable: 'only screen and (max-width: 1019px)';
// tablet + desktop = more than mobile
$tab-desk: 'only screen and (min-width: 700px)';

$desk-xl: '(min-width: 1400px)';

// colors
$c_base: #283645;
$c_alt: #fff;
$c_bright: #d22856;
$c_grey: #f2f2f2;
$c_grey-dark: #e5e5e5;

$bc_grey-dark: $c_grey-dark;

$bg_base: $c_base;
$bg_alt: $c_alt;
$bg_grey: $c_grey;
$bg_grey-dark: $c_grey-dark;
$bg_dark: #1d2631;

$bg_green: #2aab6d;
$bg_green-dark: #1c9b5e;

// widths
$w_container_min: 320px;
$w_container_mid: 700px;
$w_container_max: 1020px;

$w_block: 300px;

// paddings and margins
$offset_mobile: 20px;
$offset_tablet: 40px;
$offset_desktop: 40px;

$gutter: 20px;

// fonts
$fz_xs: 12px;
$fz_s: 14px;
$fz_m: 18px;
$fz_l: 24px;
$fz_xl: 30px;
$fz_xxl: 40px;
$fz_xxxl: 50px;

$fz_btn: 21px;

$fz_base: $fz_s;
$lh_base: (24 / 14);

$fw_light: 300;
$fw_regular: 400;
$fw_bold: 700;

// border radius
$br_s: 3px;

// z-index
$z_base: 1;
$z_decor: ($z_base + 1);
$z_header: ($z_decor + 1);
$z_modal: ($z_header + 1);

// transitions
$trs_short: all 0.15s ease-in;
$trs_base: all 0.3s ease-in;
$trs_long: all 0.5s ease-out;
