mixin contacts
  +b.SECTION.contacts
    +e.header
      +b.title Остались вопросы?<br>Свяжитесь с&nbsp;нами!
    +e.UL.list
      each item in siteData.contacts
        +e.LI.item
          +e.DL.sub-list
            +e.DT.title !{item.title + ":"}
            +e.DD.descr
              case item.type
                when "phone"
                  +e.A.link(href="tel:"+item.value) !{item.descr}
                when "email"
                  +e.A.link(href="mailto:"+item.value) !{item.descr}
                default
                  +e.SPAN.text !{item.descr}
