mixin socials
  +b.socials
    +e.A.item--tw(href="#", title="Pink в Twitter") Twitter
      +e.SVG.icon--tw.svg-icon-twitter
        use(xlink:href="img/svg-sprite.svg#icon-twitter")
    +e.A.item--fb(href="#", title="Pink на Facebook") Facebook
      +e.SVG.icon--fb.svg-icon-facebook
        use(xlink:href="img/svg-sprite.svg#icon-facebook")
    +e.A.item--yt(href="#", title="Pink на Youtube") Youtube
      +e.SVG.icon--yt.svg-icon-youtube
        use(xlink:href="img/svg-sprite.svg#icon-youtube")
