mixin footer
  - var modName = isFooterMobileHidden ? "--hidden" : ""

  +b.FOOTER(class="page-footer" + modName)
    +e.grid
      +e.col
        +logo-footer
      +e.col  
        +socials
      +e.col  
        +copyright
