h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

//SMART GRID ONLY
// .container {
//   @include container();
//   @include sm(max-width, rem(510));
//   @include md(max-width, rem(690));
//   @include lg(max-width, rem(930));
//   @include xl(max-width, rem(1110));
// }

.box {
  background-color: transparent;

  &--dark {
    background: $bg_grey inline('inline/bg-triangle-white.svg') left 50% top 0 /
      100% 25px no-repeat;
  }

  &--triangle {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 33px;
      background: inline('inline/bg-triangle-white-footer.svg') left 50% top 0 /
        100% 33px no-repeat;
      z-index: $z_decor;
    }
  }
}

.container {
  min-width: $w_container_min;
  margin: 0 auto;
  padding-left: $offset_mobile;
  padding-right: $offset_mobile;

  @media #{$tablet} {
    padding-left: $offset_tablet;
    padding-right: $offset_tablet;
  }

  @media #{$desktop} {
    max-width: $w_container_max;
    padding-left: $offset_desktop;
    padding-right: $offset_desktop;
  }
}
